img {
  width: 100%;
}
.intro img {
  cursor: pointer;
}
h1  {
  text-align: center;
  margin-top: 1em;
}
#krakenInfo, #otterInfo, #wormInfo {
  display: none;
}
p#selectImage {
  text-align: center;
  margin-top:.75em;
}
